
.col-md-8 {
  // border: 2px solid black;
}



.songs {
  color: navy;
  border-radius: 2px;
}


.songs li + li:before {
    content: " | ";
    padding: 0 15px;
    list-style-type: none;
    }

.song p{
  font-size: .85em;
  font-family: sans-serif;
  color: #56f55e;
  // padding: 5px 5px 5px 30px;
  border-radius: 3px;
 }
// .song:nth-child(2n+0) {
//   background-color:  #FFF5EE;
// }

// .song:nth-child(2n+1) {
//   background-color: #F5FFFA;
// }

.song { 
  // border: 2px solid lightgreen;
  border-radius: 2px;
  li {
    display: inline-block;
  } 
    //   p:first-of-type {
    //   font-weight: bold;
    // }
 }

.remove {
  font-size: .6em;
  margin-bottom: 4px;
  border-radius: 3px;
 }

 // .more {
 //  background-color: lightgreen;
 // }